<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>My movies</title>
	</head>
	<body>
	<h1>My movies</h1>
	<ul>
		<li><%= @movie.title %></li>
		<li>go</li>
		<li>here</li>
	</ul>
	<a href='/movies/new'>Add new movie</a>	
	</body>
</html>