<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>My movies - add movie</title>
	</head>
	<body>
		<h1>Add new movie</h1>
		<form>
			<table>
				<tbody>
					<tr>
						<td><label for='title'>Title:</label></td>
						<td><input type='text' name='title'></td>
					</tr>
					<tr>
						<td><label for='director'>Director:</label></td>
						<td><input type='text' name='director'></td>
					</tr>
					<tr>
						<td><label for='year'>Year published:</label></td>
						<td><input type='text' name='year'></td>
					</tr>
					<tr>
						<td><input type='submit'></td>
					</tr>
				</tbody>
			</table>
		</form>
		<a href='/movies'>Back to index</a>
	</body>
</html>